<div class="player-wrapper">
    <div class="loading-container" *ngIf="loading">
        <spinner></spinner>
    </div>
    <div class="player-container" #playercontainer [ngClass]="{'controls': !!video && showControls}" (mousemove)="mouseMove($event)" (touchstart)="mouseMove($event)">
        <video
            #player
            class="video-player"
            [ngClass]="{'hidden': !video}"
            preload="auto"
            [src]="videoSrc"
            [attr.type]="video?.Format"
            [controls]="false"
            [muted]="muted"
            (canplaythrough)="videoReady()"
            (ended)="videoEnded()"
            (playing)="playbackResumed()"
            (waiting)="playerWaiting()"
        ></video>
        <div class="no-video-container" *ngIf="!video">
            <!-- Put information to user/host here -->
        </div>
        <div class="video-controls">
            <div class="host-controls" *ngIf="isHost">
                <div class="start-stop-container">
                    <div class="button-container">
                        <button class="btn btn-primary" (click)="startVideo()" [disabled]="starting" *ngIf="!playing">
                            Start Movie <span class="fas fa-play"></span>
                        </button>
                        <!--  -->
                        <button class="btn btn-error" (click)="stopVideo()" [disabled]="stopping" *ngIf="playing">
                            Stop Movie <span class="fas fa-stop"></span>
                        </button>
                    </div>
                </div>
                <!--  -->
                <div class="flex-spacer"></div>
                <!--  -->
                <div class="change-video-container">
                    <div class="button-container" *ngIf="!playing">
                        <button class="btn btn-white" (click)="selectVideo()">
                            Select Video <span class="fas fa-vhs"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom-controls" *ngIf="video">
                <div class="volume control">
                    <div class="mute-button" (click)="toggleMute()">
                        <span class="fas fa-volume" *ngIf="!muted"></span>
                        <span class="fas fa-volume-mute" *ngIf="muted"></span>
                    </div>
                    <div class="volume-bar">
                        <input type="range" min="0" max="100" step="1" [formControl]="volumeControl" />
                    </div>
                </div>
                <div class="flex-spacer"></div>
                <div class="fullscreen control" (click)="goFullScreen()">
                    <span class="fas fa-expand" *ngIf="!fullscreen"></span>
                    <span class="fas fa-compress" *ngIf="fullscreen"></span>
                </div>
            </div>
            <div class="progress-bar-container">
                <div class="curr-time">
                    {{currTime | duration}} / {{length || 0 | duration}}
                </div>
                <div class="progress-outer">
                    <div class="progress-inner" [ngStyle]="{width: percentPlayed + '%'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
