@import '_variables';

.selector-container {
    width: 100%;

    .current-selection-container {
        display: flex;
        .current-video-title-header {
            display: inline-block;
            margin-right: 0.5rem;
            font-weight: 700;
        }
        .current-video-title-value {
            display: inline-block;
            margin-left: 0.5rem;
        }
    }

    .videos-container {
        .video-row {
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            border-top: 0.1rem solid $almost-black;

            .video-title-container {
                flex: 3;
            }

            .video-time-container {
                flex: 1;
            }

            .select-video-container {
                flex: 2;
                justify-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
        }

        .no-videos {
            width: 100%;
            text-align: center;
        }
    }
}
