<div class="container-fluid">
    <ng-container *ngIf="isAdmin">
        <div class="theatres-container size-limited" >
            <div class="theatre-container" *ngFor="let theatre of theatres">
                <h2 class="theatre-name">{{theatre.Name}}</h2>
                <div class="video-info">
                    <ng-container *ngIf="theatre?.Video">
                        <h3 class="video-header">- Now Playing -</h3>
                        <p class="video-title">Title: {{theatre?.Video?.Title}}</p>
                    </ng-container>
                    <ng-container *ngIf="!theatre?.Video">
                        <p class="no-video">No video selected</p>
                    </ng-container>
                </div>
                <button class="btn btn-black-inverse join-btn" [routerLink]="['/theatres', theatre?.TheatreId]" [queryParams]="{'a': theatre?.Access}">
                    Join
                </button>
            </div>
        </div>
        <div class="row size-limited">
            <div class="create-theatre-container">
                <div class="create-btn-container" *ngIf="!creating">
                    <button class="btn btn-black" (click)="startCreate()">
                        Create Theatre
                    </button>
                </div>
                <div class="create-form-container" *ngIf="creating">
                    <form [formGroup]="theatreForm" (submit)="theatreForm.valid && submitCreate()">
                        <input-group
                            id="txtTheatreName"
                            type="text"
                            name="theatrename"
                            [formControl]="formControls['Name']"
                            label="Name"
                            placeholder="Name your Theatre"
                            autocomplete="off"
                        >
                        </input-group>
                        <button class="btn btn-primary" type="submit" [disabled]="theatreForm.invalid || isLoading">
                            Create Theatre
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row size-limited">
        <div class="non-admin-view" *ngIf="!isAdmin">
            <div class="invite-needed">
                <h1>Welcome to Movie Night!</h1>
                <p>Unfortunately, Movie night sessions are currently invite-only. If you received an invite link, please double-check the url and try again.</p>
            </div>
        </div>
    </div>
</div>
