@import '_variables';

.upload-progress-container {
    display: flex;
    height: 5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    align-content: center;
    pointer-events: none;

    // .curr-time {
    //     flex: 0 1 auto;
    //     text-align: left;
    //     align-items: center;
    //     color: $almost-white;
    //     font-size: 1.2rem;
    //     line-height: 2rem;
    //     padding: 0 0.5rem;
    // }

    .progress-outer {
        flex: 1 1 auto;
        height: 0.5rem;
        border-radius: 1.5rem;
        background-color: $almost-black;
        overflow: hidden;

        .progress-inner {
            background: $main-color;
            height: 3rem;
            transition: width 300ms;
        }
    }
}
